.navbar-brand
{
  font-size: 25px;
}

h3 {
  margin: 4rem 0 1.5rem 0;
}

h5 {
  margin: 1.5rem 0 1.5rem 0;
}

h6 {
  margin: 5px 0 5px 0;
  text-align: center;
}

main {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.dot {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: sub;
}

.minidot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.level9 {
  background: #bd0026;
}
.level8 {
  background:#e31a1c;
}
.level7 {
  background:#fc4e2a;
}
.level6 {
background:#fc6d33;
}
.level5 {
background:#fd8d3c;
}
.level4 {
background:#fd9f44;
}
.level3 {
background:#feb24c;
}
.level2 {
background:#fed976;
}
.level1 {
  background:#ffeda0;
}
.level0 {
  background:#e6e6e6;
}
a {
  color: #3ca0b0;
}
a:hover {
  color: #fd9f44;
  text-decoration: none;
}

#map_composite_id { 
    height: 80vh;
    margin: 3rem 0 3rem 0;
}
#map_score1id { 
  height: 50vh;
  margin: 0 0 3rem 0;
}

#map_score2id { 
  height: 50vh;
  margin: 0 0 50px 0;
}

#menu {
  position: relative;
  background: #fff;
  padding: 10px;
  /*font-family: 'Open Sans', sans-serif;*/
}


.info {
    font-size: 18px;
    padding: 6px 8px; 
    background: black;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    /* border-radius: 5px; */
    width: 30vh; /* inner box size */
}

.info h4 {
    font-size: 18px;
    margin: 0 0 5px;
    color: #777;
}

.subinfo {
  font-size: 18px;
  padding: 6px 8px; 
  background: black;
  background: rgba(255,255,255,0.5);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  /* border-radius: 5px; */
  width: 100%;
}

.subinfo h4 {
  font-size: 20px;
  margin: 0 0 5px;
  color: #777;
}

.legend {
    width: 18vh;
    line-height: 18px;
    color: #555;
    text-align: center;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

  .myaccordion .card {
    border: none;
  }

  .myaccordion .fa {
    margin-right: 1em;
  }

  .myaccordion .card-header {
    border-bottom-color: #EDEFF0;
    background: transparent;
  }
   
  .myaccordion .fa-stack {
    font-size: 18px;
    margin-right: 50px;
  }
   
  .myaccordion .btn {
    font-size: 20px;
    color: black;
    padding: 0;
    margin-left: 0;
    text-align: left;
  }
   
  .myaccordion .btn-link:hover,
  .myaccordion .btn-link:focus {
    text-decoration: none;
  }
   
  .myaccordion li + li {
    margin-top: 10px;
  }

  #topbutton {
    display: none; 
    position: fixed; 
    top: 80px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: #777; 
    opacity: 0.35;
    color: white; 
    cursor: pointer; 
    padding: 5px; 
    /* border-radius: 10px; /* Rounded corners */
    font-size: 18px; 
  }
  
  #topbutton:hover {
    background-color: #333; /* Add a dark-grey background on hover */
  }

  .horiz-scroll {
    overflow: auto;
    overflow-y: hidden;
    /* white-space: nowrap; */
  }
  .about-container {
    margin: 0 6rem 0 6rem;
    justify-content: center;
   } 

  iframe {
    width: 100%; /* It should not be 100% */
    height: 500px;
    margin-left: auto;   /* Automatic margin from left */
    margin-right: auto; /* Automatic margin from right */
    justify-content: center;
   } 

  .footer {
    background-color: #f5f5f5;
    width: 100% !important;
    margin: 0;
    text-align: center;
  }

